<section class="about" id="about">
    <div class="container">
        <div class="title__wrap" data-aos="fade-right">
            <span class="suptitle">Element chem</span>
            <h2 class="title">О компании</h2>
        </div>
        <div class="about__box" data-aos="fade-right" data-aos-duration="1000">
            <div class="about__services">
                <div class="about__row">
                    <h3 class="about__row-title">Чем мы занимаемся</h3>
                    <p class="about__row-text">
                        Производим акриловые и силиконовые герметики. Принимаем заказы на контрактное производство
                        герметиков под вашей торговой маркой
                    </p>
                </div>
                <div class="about__row">
                    <h3 class="about__row-title">Наши услуги</h3>
                    <p class="about__row-text">
                        Контрактное производство — это выпуск продукции на мощностях независимого производителя.
                        <br><br>
                        Компания «Element Chem» изготовит продукцию в соответствии с вашими требованиями, а вы сможете
                        продавать ее под своей торговой маркой.
                    </p>
                </div>
                <div class="about__row">
                    <h3 class="about__row-title">Что входит в наши услуги</h3>
                    <ul class="about__list">
                        <li class="about__list-item">
                            Производство герметиков и клеев с полным соблюдением технологического цикла.
                        </li>
                        <li class="about__list-item">
                            Расфасовка продукции в упаковку с дизайном вашей компании
                        </li>
                        <li class="about__list-item">
                            Доставка заказанного товара.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</section>
<!-- /.about -->