<section class="advantages" id="advantages" data-aos="fade-up">
    <div class="container">
        <div class="title__wrap">
            <span class="suptitle">Element chem</span>
            <h2 class="title">Наши преимущества</h2>
        </div>
        <div class="row advantages__list">
            <div class="col-lg-4 advantages__column">
                <div class="advantages__line">
                    <img src="assets/img/advantages-item/advantages-item-01.svg" alt="Преимущества 1">
                    <h3 class="advantages__column-caption">НИЗКИЕ ЦЕНЫ</h3>
                </div>
                <p class="advantages__column-text">
                    Льготы для предприятий Свободной экономической зоны позволяют нам держать низкие цены
                </p>
            </div>
            <div class="col-lg-4 advantages__column">
                <div class="advantages__line">
                    <img src="assets/img/advantages-item/advantages-item-02.svg" alt="Преимущества 2">
                    <h3 class="advantages__column-caption">БЫСТРАЯ ДОСТАВКА</h3>
                </div>
                <p class="advantages__column-text">
                    Вы получите свой товар в кратчайшие сроки
                </p>
            </div>
            <div class="col-lg-4 advantages__column">
                <div class="advantages__line">
                    <img src="assets/img/advantages-item/advantages-item-03.svg" alt="Преимущества 3">
                    <h3 class="advantages__column-caption">ВСЕ ВИДЫ УПАКОВКИ</h3>
                </div>
                <p class="advantages__column-text">
                    Мы расфасуем продукцию в упаковку под вашим дизайном
                </p>
            </div>
            <div class="col-lg-4 advantages__column">
                <div class="advantages__line">
                    <img src="assets/img/advantages-item/advantages-item-04.svg" alt="Преимущества 4">
                    <h3 class="advantages__column-caption">РАЗРАБОТКА ПРОДУКЦИИ</h3>
                </div>
                <p class="advantages__column-text">
                    Вы можете заказать у нас разработку герметика с нужными вам свойствами
                </p>
            </div>
            <div class="col-lg-4 advantages__column">
                <div class="advantages__line">
                    <img src="assets/img/advantages-item/advantages-item-05.svg" alt="Преимущества 5">
                    <h3 class="advantages__column-caption">ВЫСОКОЕ КАЧЕСТВО</h3>
                </div>
                <p class="advantages__column-text">
                    Наша продукция проходит жесткий контроль качества
                </p>
            </div>
            <div class="col-lg-4 advantages__column">
                <div class="advantages__line">
                    <img src="assets/img/advantages-item/advantages-item-06.svg" alt="Преимущества 6">
                    <h3 class="advantages__column-caption">КАЧЕСТВЕННОЕ ОБСЛУЖИВАНИЕ</h3>
                </div>
                <p class="advantages__column-text">
                    Наши сотрудники — профессионалы своего дела
                </p>
            </div>
        </div>
    </div>
    <!-- /.container -->
</section>
<!-- /.advantages -->