<section class="contacts" id="contacts">
    <div class="container">
        <div class="contacts__info" data-aos="flip-right">
            <div class="contacts__info-logo">
                <img src="assets/img/logo.png" alt="Логотип">
            </div>
            <div class="contacts__info-mail">
                <a href="mailto:info@elementchem.kg">info@elementchem.kg</a>
            </div>
            <div class="contacts__info-tel">
                <a href="tel:+996555599777">+996 555 599 777</a>
            </div>
            <div class="contacts__info-address">
                Кыргызская Республика, г. Бишкек, <br>
                СЭЗ Ак-Чий, пр. Мира, 303
            </div>
            <div class="contacts__info-btn">
                <button class="btn btn--red btn--small">Сертификат</button>
            </div>
        </div>
    </div>
    <!-- /.container -->
</section>
<!-- /.contacts -->