<header class="header">
    <div class="container">
        <div class="header__top">
            <div class="row no-gutters align-items-lg-center" data-aos="fade-down">
                <div class="col-lg-2 col-11">
                    <a class="header__logo" href="index.html">
                        <img src="assets/img/logo.png" alt="Логотип ElementChem">
                    </a>
                </div>
                <div class="col-1 header__burgmenu">
                    <span></span>
                </div>
                <div class="col-lg-5">
                    <nav class="header__navbar">
                        <ul class="header__menu">
                            <li class="header__menu-item"><a href="#about">О нас</a></li>
                            <li class="header__menu-item"><a href="#advantages">Услуги</a></li>
                            <li class="header__menu-item"><a href="#product">Каталог</a></li>
                            <li class="header__menu-item"><a href="#stages">Производство</a></li>
                            <li class="header__menu-item"><a href="#contacts">Контакты</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-2">
                    <div class="header__info">
                        <a class="header__info-phone" href="tel:+996555599777">+996 555 599 777</a>
                        <a class="header__info-mail" href="mailto:info@elementchem.kg">info@elementchem.kg</a>
                    </div>
                </div>
                <div class="col-lg-2">
                    <button class="header__btn btn btn--aqua btn--small">Консультация</button>
                </div>
            </div>
        </div>
        <div class="header__inner" data-aos="fade-right">
            <h1 class="header__title">
                <span>Контрактное производство</span>
                герметиков в Кыргызстане
            </h1>
            <div class="header__list">
                <div class="header__item">
                    <img src="assets/img/header-item/header-item-01.png" alt="Oбразцы">
                    <p class="header__item-text">Высылаем бесплатные образцы</p>
                </div>
                <div class="header__item">
                    <img src="assets/img/header-item/header-item-02.png" alt="Гибкий подход">
                    <p class="header__item-text">Гибкий подход к каждому клиенту</p>
                </div>
                <div class="header__item">
                    <img src="assets/img/header-item/header-item-03.png" alt="Производство">
                    <p class="header__item-text">Производство в кратчайшие сроки</p>
                </div>
            </div>
        </div>
        <div class="header__button button__wrap">
            <button class="btn btn__request btn--red btn--red_pos">Оформить заявку</button>
        </div>
    </div>
    <!-- /.containers -->
</header>
<!-- /.header -->