<section class="order" id="order" data-aos="fade-right">
    <div class="container">
        <div class="title__wrap">
            <span class="suptitle">Оформление заказа</span>
            <h2 class="title">Как сделать заказ</h2>
        </div>
        <div class="row order__tabs justify-content-md-center">
            <div class="col-lg-3 col-md-6 order__tab" data-aos="fade-zoom" data-aos-delay="500">
                <div class="order__tab--border">
                    <div class="order__icon">
                        <img src="assets/img/orders/order-item-01.svg" alt="Иконка 01">
                    </div>
                    <div class="order__content">
                        <div class="order__content-title">
                            <span class="lower">Шаг 1</span>
                            <h2 class="upper">ЗАПОЛНИТЕ ФОРМУ</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 order__tab" data-aos="fade-zoom" data-aos-delay="700">
                <div class="order__tab--border">
                    <div class="order__icon">
                        <img src="assets/img/orders/order-item-02.svg" alt="Иконка 02">
                    </div>
                    <div class="order__content">
                        <div class="order__content-title">
                            <span class="lower">Шаг 2</span>
                            <h2 class="upper">СОГСЛАСУЕМ ДИЗАЙН</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 order__tab" data-aos="fade-zoom" data-aos-delay="900">
                <div class="order__tab--border">
                    <div class="order__icon">
                        <img src="assets/img/orders/order-item-03.svg" alt="Иконка 03">
                    </div>
                    <div class="order__content">
                        <div class="order__content-title">
                            <span class="lower">Шаг 3</span>
                            <h2 class="upper">ИЗГОТАВЛИВАЕМ ПРОДУКЦИЮ</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 order__tab" data-aos="fade-zoom" data-aos-delay="1100">
                <div class="order__tab--border border-hover">
                    <div class="order__icon">
                        <img src="assets/img/orders/order-item-04.svg" alt="Иконка 04">
                    </div>
                    <div class="order__content">
                        <div class="order__content-title">
                            <span class="lower">Шаг 4</span>
                            <h2 class="upper">ДОСТАВЛЯЕМ ЗАКAЗ</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form__container" data-aos="zoom-in">
            <div class="form__border">
                <div class="title__wrap">
                    <span class="suptitle">МЫ ВЫШЛЕМ ОБРАЗЦЫ</span>
                    <h2 class="title">Хотите удостовериться в высоком качестве товара?</h2>
                </div>
                <form action="#" class="form">
                    <div class="row">
                        <div class="form__input col-lg-6">
                            <input type="text" name="name" required placeholder="Ваше имя">
                        </div>
                        <div class="form__input col-lg-6">
                            <input type="email" name="email" required placeholder="Электронная почта">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form__input col-lg-6">
                            <input type="text" id="phone" name="phone" required placeholder="Телефон (обязательно)">
                        </div>
                        <div class="form__button col-lg-6">
                            <button type="submit" class="btn__thanks btn btn--red">Отправить заявку</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /.container -->
</section>
<!-- /.orders -->