<div class="popup popup__request">
    <div class="popup__body">
        <div class="popup__close"></div>
        <div class="popup__left">
            <div class="popup__img">
                <img src="assets/img/products/popup-img.png" alt="Универсталный Герметик">
            </div>
            <div class="popup__passport">
                <a href="#" target="_blank">
                    Скачать <br> Техпаспорт
                </a>
            </div>
        </div>
        <div class="popup__right">
            <div class="popup__row_one">
                <h2 class="popup__title">ГЕРМЕТИК АКРИЛОВЫЙ</h2>
                <p class="popup__text">
                    ELEMENT является универсальным однокомпонентным силиконовым герметиком кислотного типа, предназначенным для герметизации строительных и конструкционных швов, дверных и оконных рам.При отвердевании доходит до состояния прочного каучука.
                </p>
            </div>
            <div class="popup__row_two">
                <form action="#" class="popup__form form">
                    <h1 class="form__title">ОСТАВИТЬ ЗАЯВКУ</h1>
                    <div class="row">
                        <div class="form__input col-lg-6">
                            <input type="text" name="name"  required placeholder="Имя">
                        </div>
                        <div class="form__input col-lg-6">
                            <input type="mail" name="email" required placeholder="Электронная почта">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form__input col-lg-6">
                            <input type="text" id="phone" name="phone" required placeholder="Телефон">
                        </div>
                        <div class="form__button col-lg-6">
                            <button type="submit" class="form__btn btn btn--red">отправать</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="popup popup__thanks">
    <div class="popup__body">
        <div class="popup__close"></div>
        <div class="popup__text">
            Ваша заявка успешно отправлена!
        </div>
    </div>
</div>