<section class="product" id="product">
    <div class="container">
        <div class="title__wrap" >
            <span class="suptitle">каталог с товарами</span>
            <h2 class="title">Наша продукция</h2>
        </div>
        <div class="product__slider" data-aos="zoom-in-up">
            <div class="product__slide">
                <div class="product__slide--border">
                    <div class="product__img">
                        <img src="assets/img/products/product-item-01.png" alt="Герметик 01">
                    </div>
                    <div class="product__content">
                        <div class="product__content-title">
                            <span class="lower">Герметик</span>
                            <h3 class="upper">УНИВЕРСАЛЬНЫЙ</h3>
                        </div>
                        <p class="product__content-desc">
                            ELEMENT является универсальным однокомпонентным силиконовым герметиком кислотного типа Подробнее
                        </p>
                        <a href="#" class="product__content-more">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="product__slide">
                <div class="product__slide--border">
                    <div class="product__img">
                        <img src="assets/img/products/product-item-02.png" alt="Герметик 02">
                    </div>
                    <div class="product__content">
                        <div class="product__content-title">
                            <span class="lower">Герметик</span>
                            <h3 class="upper">АКРИЛОВЫЙ</h3>
                        </div>
                        <p class="product__content-desc">
                            ELEMENT акриловый герметик является однокомпонентным, готовым к применению акриловым герметиком
                        </p>
                        <a href="#" class="product__content-more">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="product__slide">
                <div class="product__slide--border">
                    <div class="product__img">
                        <img src="assets/img/products/product-item-03.png" alt="Герметик 03">
                    </div>
                    <div class="product__content">
                        <div class="product__content-title">
                            <span class="lower">Герметик</span>
                            <h3 class="upper">САНТЕХНИЧЕСКИЙ</h3>
                        </div>
                        <p class="product__content-desc">
                            Element санитарный является однокомпонентным силиконовым герметиком кислотного типа.
                        </p>
                        <a href="#" class="product__content-more">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="product__slide">
                <div class="product__slide--border">
                    <div class="product__img">
                        <img src="assets/img/products/product-item-03.png" alt="Герметик 03">
                    </div>
                    <div class="product__content">
                        <div class="product__content-title">
                            <span class="lower">Герметик</span>
                            <h3 class="upper">САНТЕХНИЧЕСКИЙ</h3>
                        </div>
                        <p class="product__content-desc">
                            Element санитарный является однокомпонентным силиконовым герметиком кислотного типа.
                        </p>
                        <a href="#" class="product__content-more">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="product__slide">
                <div class="product__slide--border">
                    <div class="product__img">
                        <img src="assets/img/products/product-item-01.png" alt="Герметик 01">
                    </div>
                    <div class="product__content">
                        <div class="product__content-title">
                            <span class="lower">Герметик</span>
                            <h3 class="upper">САНТЕХНИЧЕСКИЙ</h3>
                        </div>
                        <p class="product__content-desc">
                            Element санитарный является однокомпонентным силиконовым герметиком кислотного типа.
                        </p>
                        <a href="#" class="product__content-more">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="product__slide">
                <div class="product__slide--border">
                    <div class="product__img">
                        <img src="assets/img/products/product-item-02.png" alt="Герметик 02">
                    </div>
                    <div class="product__content">
                        <div class="product__content-title">
                            <span class="lower">Герметик</span>
                            <h3 class="upper">САНТЕХНИЧЕСКИЙ</h3>
                        </div>
                        <p class="product__content-desc">
                            Element санитарный является однокомпонентным силиконовым герметиком кислотного типа.
                        </p>
                        <a href="#" class="product__content-more">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="button__wrap">
        <button class="btn btn__request btn--red btn--red_pos">Оформить заявку</button>
    </div>
    <!-- /.container -->
</section>
<!-- /.product -->