<section class="stages" id="stages">
    <div class="container">
        <div class="title__wrap" data-aos="zoom-in-right">
            <span class="suptitle">изготовление герметика</span>
            <h2 class="title">Этапы производства</h2>
        </div>
        <div class="row stages__list" data-aos="fade-down">
            <div class="col-lg-4 stages__column">
                <div class="stages__img">
                    <img src="assets/img/stages/stages-item-01.png" alt="Этап 01">
                </div>
                <div class="stages__content">
                    <div class="stages__content-title">
                        <span class="lower">Этап 1</span>
                        <h3 class="upper">ПРОИЗВОДСТВО</h3>
                    </div>
                    <p class="stages__content-desc">
                        Изготавливаем продукцию на современном оборудовании
                    </p>
                </div>
            </div>
            <div class="col-lg-4 stages__column">
                <div class="stages__img">
                    <img src="assets/img/stages/stages-item-02.png" alt="Этап 02">
                </div>
                <div class="stages__content">
                    <div class="stages__content-title">
                        <span class="lower">Этап 2</span>
                        <h3 class="upper">ДИЗАЙН</h3>
                    </div>
                    <p class="stages__content-desc">
                        Наносим на упаковку дизайн с логотипом вашей компании
                    </p>
                </div>
            </div>
            <div class="col-lg-4 stages__column">
                <div class="stages__img">
                    <img src="assets/img/stages/stages-item-03.png" alt="Этап 03">
                </div>
                <div class="stages__content">
                    <div class="stages__content-title">
                        <span class="lower">Этап 3</span>
                        <h3 class="upper">РАСФАСОВКА</h3>
                    </div>
                    <p class="stages__content-desc">
                        Фасуем продукцию в пластиковые картриджи и фолиевые тубы
                    </p>
                </div>
            </div>
        </div>
        <div class="button__wrap">
            <button class="btn btn--red btn--red_pos">Посмотреть сертификат</button>
        </div>
    </div>
    <!-- /.container -->
</section>
<!-- /.stages -->