@media only screen and (max-width: 768px) {
    .header__burgmenu {
        display: block;
        position: relative;
        width: 18px;
        z-index: 4;
        padding: 20px;
        border-radius: 25px;

        span {
            background-color: $black;
            width: 18px;
            height: 3px;
            border-radius: 25px;
            position: absolute;
            left: calc(50% - 9px);
            top: calc(50% - 1.5px)
        }

        &::before,
        &::after {
            content: '';
            display: block;
            width: 18px;
            height: 3px;
            background-color: $black;
            position: absolute;
            left: calc(50% - 9px);
            top: calc(50% - 1.5px);
            transition: transform 0.2s ease-in, margin-top 0.2s linear 0.2s;
        }

        &::before {
            margin-top: -6px;
        }

        &::after {
            margin-top: 6px;
        }
        &.burgmenu--active {
            transition: .2s ease;
            span {
                display: none;
            }
            
            &::after, &::before {
                margin-top: 0;
            }
            &::after {
                transform: rotate(45deg);
            }
            &::before {
                transform: rotate(-45deg);
            }
        }
    }
    
    .header__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: $white;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 10;
        padding: 10px;
        margin-top: 0;
        .row {
            width: 100%;
        }
        .header__info {
            display: none;
        }
        
        .header__btn {
            display: none;
        }
        
        .header__navbar {
            position: fixed;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            width: 100%;
            opacity: 0;
            visibility: hidden;
            background-color: rgba($white, .9);
            transition: all .3s ease-in;
            &--active {
                opacity: 1;
                visibility: visible;
            }
            .header__menu {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                flex-direction: column;
                &-item {
                    margin: 40px 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
    
    .header__inner {
        .header__title {
            font-size: 45px;
            margin-top: 110px;
            margin-bottom: 100px;
        }
        .header__list {
            flex-direction: column;
            align-items: center;
            width: 100%;
            .header__item {
                margin-bottom: 15px;
            }
        }
    }
    .about__box:hover::before {
        opacity: .5;
        clip-path: circle(680px at 90% 13%);
    }
    .stages__list .stages__column {
        margin: 0 auto 10px auto;
    }
    .order .form__container::before {
        display: none;
    }

    .contacts__info {
        top: 15%;
        left: 20%;
    }
}
@media only screen and (max-width: 425px) {
    .title__wrap {
        .suptitle {
            font-size: 13px;
        }
        .title {
            font-size: 33px;
        }
    }

    .header__inner .header__title {
        font-size: 30px;
    }
    .about__box {
        .about__services {
            padding: 15px;
            .about__row-title {
                font-size: 26px;
            }
            .about__row-text {
                font-size: 13px;
            }
            .about__list-item {
                font-size: 13px;
            }
        }
    }

    .btn {
        &--red {
            font-size: 16px;
            &_pos {
                width: 300px;
                height: $height-btn - 15px;
                bottom: -$height-btn / 2 + 10px;
            }
        }
    }

    .order__tabs {
        justify-content: center;
    }

    .order .form__container .form__border {
        padding: 20px;
        .title__wrap {
            .suptitle {
                font-size: 10px;
            }
            .title {
                font-size: 24px;
            }
        }
        .form {
            padding: 0;
            &__input {
                input {
                    padding: 15px;
                    font-size: 12px;
                }
            }
            &__button {
                button {
                    height: 60px;
                }
            } 
        }
    }
    .contacts__info {
        width: 100%;
        position: inherit;
    }
}
@media only screen and (max-width: 375px) {

    .header__inner {
        .header__title {
            font-size: 23px;
        }
        .header__list {
            .header__item-text {
                font-size: 18px;
            }
        }
    }
    .stages__list .stages__column {
        max-width: 320px;
    }
    
    
    .contacts__info {
        &-mail a {
            font-size: 11px;
        }
        &-tel a {
            font-size: 20px;
        }
        &-address {
            font-size: 11px;
        }
    }
}
