$white: #fff;
$black: #000;
$aqua: #1a9a8c;
$aqua-two: #67c0b5;
$red: #d8502b;
$grey: #666;

$height-btn: 60px;
$container-break: 1218px;

$font-roboto: "Roboto", sans-serif;
$font-pt: 'PT Serif', serif;